<table class="deal-grid">
	
	<thead class="deal-grid__head">
		<th>About</th>
		<th>Contract Length</th>
		<th>Speed / Usage</th>
		<th>Offer</th>
		<th>TV</th>
		<th>Mobile</th>
		<th>Cost</th>
	</thead>
	<tbody class="deal-grid__body">
		<tr *ngFor="let deal of deals | filterdeals">
			<td>
				{{deal.title}}
			</td>
			<td>
				{{deal.contractLength}} Months
			</td>
			<td>
				{{deal.speed.label}} MB
				<br>
				{{deal.usage.label}}
			</td>
			<td>
				<img [src]="deal.offer.smallLogo" [alt]="deal.offer.title">
			</td>
			<td>
				<span class="deal-grid__na" *ngIf="!deal.popularChannels || deal.popularChannels.length === 0">
					N/A
				</span>
				<div *ngFor="let channel of deal.popularChannels">
					<img [src]="channel.logo" [alt]="channel.name">
				</div>
			</td>
			<td>
				<span class="deal-grid__na" *ngIf="!deal.mobile">
					N/A
				</span>
				<ng-container *ngIf="deal.mobile">
					<div>
						Data: {{deal.mobile.data.label}}
					</div>
					<div>
						Minutes: {{deal.mobile.minutes.label}}
					</div>
					<div>
						Texts: {{deal.mobile.texts.label}}
					</div>
					<div>
						Connection: {{deal.mobile.connectionType.label}}
					</div>						
				</ng-container>
			</td>

			<td>
				{{deal.prices[0]?.totalContractCost | currency : 'GBP' : true}}
			</td>

		</tr>		
	</tbody>
</table>